	
/* --------------------------------------------- 
 * Custom css for iMarc
 * -----------------------------------------------*/
.view-country-selector .views-field-field-flag-image img {
    height: 100px;
}
.view-country-selector .country-box {
  float: left;
  display: inline-block;
  padding: 10px;
  clear: right;
}

/*
 ** overrides for language picker
 */
#block-lang-dropdown-language {
    width:200px;
    top:4px;
}

#lang_dropdown_form_language .language-icon {
    float: right;
    height: 15px;
    position: relative;
    right: 60px;
    top: -22px;
}


/*
 ** overrides for search
 */
.top_right .region-search {
     display: inline-block;
     float: right;
     height: 40px;
     margin: 1% 0;
     white-space: nowrap;
     width: 374px;
}

#block-search-form .form-text {
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    float: left;
    height: 30px;
    margin-right: 5px;
    padding: 10px;
    width: 200px;
}

#block-search-form {
    float: right;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -43px;
    width: 200px;
}
div.region-user-menu .block-menu li a {
    color: #FFFFFF;
}

/*
 ** overrides for sidebar menu
 */
.menu-block-wrapper li.expanded  ul.menu  {
  display:none;
}
.menu-block-wrapper  .expanded.active-trail.active .menu  {
  display:block;
}

/* --------------------------------------------- 
 * Banner
 * -----------------------------------------------*/
.banner {
  height:200px;
}
.banner-title {
  color:#FFFFFF;
  font-size:28px;
  position:relative;
  top:70px;
  left:50px;
}
.banner-body p {
  color:#FFFFFF;
  font-size:18px;
  position:relative;
  top:70px;
  left:70px;
  max-width:800px;
}

/* hide the main menu for now... */
div.menu_wrapper {
  display:none;
}


/* --------------------------------------------- 
 * Blocks
 * -----------------------------------------------*/
.view-what-customers-say {
  float: left;
  border: 1px solid #bbbbbb;
  margin:20px 0 0 0;
  padding: 4px;
  width:35%;
}
.view-partners-block {
  float:left;
  border: 1px solid #bbbbbb;
  margin: 0 0 10px 30px;
  padding: 4px;
  width:60%;
}
.views-field-field-partner-logos img {
  display: inline;
  margin: -42px 0 0 0;
  width: 30%;
  vertical-align: middle;
}
div.ui-accordion-content {
  height: auto !important;
}
.category-title {
  font-weight: bold;
  vertical-align: 150%;
margin-left:20px;

}